body{font-family:Arial,'microsoft yahei',Helvetica, sans-serif; color: #333;}
a,button{transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;}
ul{list-style:none;}
h2{margin: 0px; padding: 0px;}
.top_menu{font-size: 14px; width: 100%;  height: 34px; background-color: #fdfdfd;color: #666666;border-bottom: 1px solid #f1f1f1;}
.top_lang{float: right;height: 34px;line-height: 34px;}
.top_name{display: inline-block; line-height: 34px;}
.top_lang a{color: #666;}
.flash img{ width: 100%}
.flash ul.bxslider{list-style:none;}
.flash div.bx-pager{bottom: 4%;}
.flash div.bx-controls-direction{ display:none; }
.img-thumbnail:hover,.opacity_img:hover{opacity: 0.8; }
b{ font-weight:100;}
a:hover{ text-decoration:none;}
.photo_con{ width:100%; overflow:hidden;}
/*导航菜单*/
/*.navbar{margin:0px; background-color:#2f2f2c; border: none;}
#app_menudown{position: absolute; top:0px; right:0px; font-size: 16px;}
#app_menudown:hover{background-color: #FF9C09;}*/

.navbar{ margin:0px; background-color: #fff; border: none;}
.glyphicon-home:before {color: #ff3437;}
#app_menudown{position: absolute; top:0px; right:0px; font-size: 16px;}
#app_menudown:hover{background-color: #f00;}

.search-box {padding: 14px 0;background: #000;word-wrap: break-word;}
.container {margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;min-width: 300px;}
.searchimage {line-height: 35px;background-color:#f00;border: none;color: #fff;margin-left: -13px;}
#keyword{background:#fff;line-height:33px; height:37px;width:100%;padding-left:15px;border:#d9d9d9 1px solid}
.hottag{line-height:36px; color:#ccc;}
.hottag a{color:#ccc;}
.scroll{width:50px;height:50px;background:#ee4547;color:#fff;line-height:50px;text-align:center;position:fixed;right:30px;bottom:50px;cursor:pointer;font-size:14px; border-radius:50px;}

.left a{color:#fff;}
.about_contents{font-size:14px;}
/*产品搜索*/
.cp{padding: 35px 0px 0px 0px;text-align: center;}
.cp h2{color: #333333; text-align: center; margin:0px; display: block;font-size:36px;font-weight: bold;}
.cm{padding: 0px 0px 20px 0px;text-align: center;}
.ms{width:50%;margin:0 auto;padding:0 0 120px 0;}
/* 首页 下面三个小图的处理 */
.about_one p ,.about_three p, .about_two p{font-size:18px;font-family: Arial;}
.about_more{width:200px; height:40px; background-color:#f00;}
.about_more a{font-size:18px;color:white;display: block;text-decoration:none;line-height: 40px; text-align: center;}
.about_more a:hover{background-color:#000; border-color: #000;}
/* //图片 */
.decor{margin: 19px 0 26px;}
.decor{background: url(../images/decor.png);}
.decor{display: block; width: 46px; height: 15px; background: url(../images/decor.png); background-repeat: no-repeat;}
.about_head{border-bottom:2px solid #eaeaea; margin-top:-20px;}
/* 滚动的数字 */
.aa{float:left;overflow:visibility:hidden;font-size:24px;color:white;margin:0 auto;width:280px;height:200px;}
.i1{text-align:center;height:50px;margin-top:-10px;}
.na{font-size:18px;text-align:center;height:70px;margin:0 auto;margin-top:20px;}
.value,.value2,.value3,.value4{height:50px; text-align:center;font-size:56px;margin-top:40px;}
/*产品搜索*/
.search_group{float: right; margin:44px 0px 0px 0px;}
.search_group input.form-control{ border-radius: 0px; box-shadow: none; padding: 12px 10px;height: 38px;  border-right: none;}
#submit_search{color:#fff;font-size: 16px; height: 38px; background-color:#f00; border-radius: 0px; margin-top: -1px;}
#submit_search:hover{cursor: pointer; background-color: #ff9900;}
#small_search{color:#fff; float: right; margin-top: 7px; padding:8px 13px;font-size: 17px;border-radius: 4px;}
#small_search:hover,#small_search:focus{cursor: pointer; background-color: #ff9900;}



/*产品搜索*/
.search_group{float: right; margin:44px 0px 0px 0px;}
.search_group input.form-control{ border-radius: 0px; border: none; box-shadow: none; padding: 12px 10px;height: 38px;  border-right: none;}
#submit_search{color:#fff;font-size: 16px; height: 38px; background-color:#FFC800; border-radius: 0px; margin-top: -1px;}
#submit_search:hover{cursor: pointer; background-color: #FF9C09;}
#small_search{color:#fff; float: right; margin-top: 7px; padding:8px 13px;font-size: 17px;border-radius: 4px;}
#small_search:hover,#small_search:focus{cursor: pointer; background-color: #FF9C09;}

/*首页产品*/
.product_head h2{font-size: 30px; text-align: center; color: #ee4547; margin: 0px; }
.product_head p{text-align: center;padding-top: 2px;  font-size: 18px;color: #9A9A9A; margin-bottom:5px;}
.product_index{margin:45px 0px 0px 0px;}
.product_list{clear: both;  padding: 30px 0px 30px 0px;margin-right: -15px;margin-left: -15px;}
.product_list2{padding-top: 30px;}
.product_img{padding-left: 15px; padding-right: 15px; min-height: 160px;}
.product_img img{margin-right: auto;margin-left: auto;display: block;max-width: 100%;height: auto; margin-bottom: 10px;  max-height: 320px;}
.product_list2 div.product_img{min-height: 220px;}
.product_title{ text-align: center;height: 40px;}
.product_title a{ color: #656464;}
.product_title a:hover{text-decoration: none;color:#FFC800;}

/*首页案例*/
.case_box{background-color: #101010;padding:50px 0px 20px 0px; margin-top: 40px;}
.case_head h2{text-align: center;margin-bottom: 5px; color: #fff;}
.case_head p{text-align: center;color: #999999;}
.case_list{clear: both;  padding: 30px 0px 10px 0px;margin-right: -15px;margin-left: -15px;}
.case_list p.product_title a{color: #fff}
.case_list p.product_title a:hover{text-decoration: none;color:#FFC800;}

/*我们的优势*/
.advantage{text-align: center; color: #fff; padding: 55px 0px 10px 0px;background-color: #F4F4F4;}
.advantage_head h2{font-size: 30px; color: #666666;}
.advantage_head p{text-align: center;padding-top: 2px;  font-size: 18px;color: #9A9A9A; margin-bottom:5px;}
.advantage_list{padding-top: 30px;}
.advantage_col{margin-bottom: 30px;text-align: center;}
.advantage_col p{text-align: center;padding-top: 12px;}
.advantage_col p a{color: #434343;font-size: 16px; font-weight: bold;}
.advantage_col p a:hover{color: #FFC800; text-decoration: none;}
.advantage_col img{-webkit-transition: -webkit-transform 0.8s ease-out; -moz-transition: -moz-transform 0.8s ease-out; -o-transition: -o-transform 0.8s ease-out; -ms-transition: -ms-transform 0.8s ease-out;}
.advantage_col img:hover {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); transform: rotateZ(360deg);}

/*公司简介*/
.about_index{padding: 35px 20px 50px 20px; }
.about_head h2{font-size: 30px; text-align: center; color: #ee4547; margin: 0px; }
.about_head p{text-align: center;padding-top: 2px;  font-size: 18px;color: #9A9A9A; margin-bottom:25px;}
.about_content p{line-height: 34px; margin-top:20px;}
.about_content img{margin: 0px 30px 0px 0px; max-width:500px;}
.about_content a.btn-info{color: #ee4547; background: transparent; border-radius: 0px; border:1px solid #ee4547; padding: 8px 36px;}
.about_content a.btn-info:hover,.about_content a.btn-info:focus{color: #fff; background: #ee4547; border:1px solid #ee4547; }

/*首页新闻*/
.news_box{/*background-color: #F4F4F4;*/padding-bottom: 30px;}
.news_head{margin-top: 45px;}
.news_head h2{text-align: center;margin-bottom:25px;font-size: 30px; color: #ee4547;}
.news_head p{text-align: center;font-size: 18px;color: #9A9A9A;}
.news_img{min-height: 426px; background-repeat: no-repeat;}
.news_index{clear: both; list-style:none;margin:0px; padding: 0px; margin-bottom: 25px;}
.news_index li{padding: 0px 0px 37px 0px;}
.news_index li span{display: inline-block; width: 60px; height:60px; text-align: center; background-color: #f00; color: #fff; float: left;  padding:0px 2px; margin-right: 15px;}
.news_index li span strong{display: block; font-size: 23px; font-weight: normal; padding-top:5px;}
.news_index li span i{display: block; font-size: 12px;  font-style: normal; font-family: Arial;}
.news_index li a{color:#8b8b8b; font-size: 20px;}
.news_index li a:hover{ text-decoration:none;color:#f00; }
.news_index li em{ font-style: normal; display:inline-block; line-height: 18px;color:#a7a7a7; padding-top: 8px; font-size: 12px;}

/*.bg-advantage{ background:url(../images/bg.png);  background-size:cover}*/
.bg-advantage{background-color: black;}
.ico-left{ float:left; width:20%;}
.ico-right{ float:right; width:80%;color:#FFF;}
.ico-right h3{ text-transform:capitalize; margin:0px;}
.well-4 {padding-top: 72px;padding-bottom: 79px;}
.well-1 {padding-top: 15px;padding-bottom: 15px;}
.info_more{position:absolute;background:#f00;bottom:0;width:100%;line-height:35px;}
.info_more:hover{background:#d8181b;}
.info_more a{ color:#FFF; text-decoration:none;}
.news_img{ padding:0px;}

/*列表页*/
.list_box{clear: both; padding:10px 0px 0px 0px;}
.page_bg{height:210px;margin-top:86px;}

/*列表页-面包屑*/
.bread_bg{background-color: #f3f3f3;}
.bread_nav{padding: 10px 0px 10px 0px;}
.bread_nav span{color: #4499F0;padding-right: 6px;}
.bread_nav a{color: #2F2F2F;}
.bread_nav a:hover{color: #ff3437;text-decoration: none;}

/*栏目导航*/
.left_nav{ clear: both; padding-top: 10px;}
.left_h,.left_h3,.right_head h2{background:url(../images/title_line.jpg) left bottom no-repeat; font-size: 22px; display: block; margin-top: 25px; padding: 0px 0px 10px 15px; color: #FF0000;}
.left_nav_ul{list-style:none;margin:0px;padding:0px; margin:15px 0px 0px 0px;}
.left_nav_ul > li{position:relative; border-bottom: 1px solid #f2f2f2; background: url(../images/left_sli.gif) 6px 15px no-repeat;padding:8px 0px 8px 18px; }
.left_nav_ul > li > a{text-decoration:none; color:#656464;}
.left_nav_ul > li > a:hover,.left_nav_ul li a.left_active{color:#FF0000;}
/*小类*/
ul.left_snav_ul{list-style:none;padding:0px;display: none; padding-top: 8px;}
ul.left_snav_ul > li{ margin:0px;padding:5px 0px 5px 10px; background: url(../images/left_sli.gif) 0px 13px no-repeat;}
ul.left_snav_ul > li > a{border:0;color:#797979;padding: 5px 0px 5px 0px;}
ul.left_snav_ul > li > a:hover{ text-decoration: none;color:#FF0000;}
.menu_head{cursor:pointer; font: 600 18px/30px "Open Sans", sans-serif; width:35px; text-align:center;color:#303c4b;display:inline-block;position: absolute; top:3px; right:0px;}
.menu_head:hover{ color: #FF0000;}

/*左侧新闻*/
.left_news{clear: both; list-style:none;margin:0px; padding:12px 0px 0px 0px; display:none;}
.left_news li{color:#545455;border-bottom: 1px dotted #dddddd;background: url(../images/li.png) no-repeat left 15px;line-height:21px; padding: 10px 0px; padding-left:14px;}
.left_news li a{color:#656464;display: inline-block;}
.left_news li a:hover{ text-decoration:none;color:#FFC800; }

/*左侧联系*/
.index_contact{margin:30px 0px 35px 0px;text-decoration: none;color: #656464;}
.index_contact p,.index_econtact p{ font-weight:100;}

/*新闻列表*/
.list_news,.right_new{clear: both; list-style:none;margin:0px; padding:12px 0px 20px 0px;}
.list_news li,.right_new li{color:#898989;background: url(../images/li.png) no-repeat left 14px;line-height:22px; padding:8px 0px; padding-left:13px;border-bottom: 1px dashed #e3e2e2;/*dotted*/ }
.list_news li a,.right_new li a{color:#303c4b;display: inline-block;}
.list_news li a:hover,.right_new li a:hover{text-decoration:none;color:#FFC800;}
.news_time,.right_new_time{ float:right;}

.contents,.right_contents{clear: both; padding:15px 2px 0px 2px; line-height:28px; overflow: auto;}
.contents_title,.right_contents_h1{ margin: 0px; padding: 10px 0px; text-align: center; color: #000; font-size:18px;color:#434343;font-weight:bold; line-height: 34px;}

/*分页样式*/
.page{clear:both; margin:20px 0px 0px 0px; text-align: center;}
.page a {display: inline-block; font-family: Arial; font-size: 13px; border: #dbdbdb 1px solid; padding:4px 9px; margin: 2px; margin-bottom: 5px; color: #31363c; text-decoration: none}
.page a:hover,.page a:focus{font-family: Arial;font-size: 13px;border: #000 1px solid; padding:4px 9px;color: #fff; background-color: #31363c;}
.page .current {font-family: Arial;border: #000 1px solid; font-size: 13px; padding:5px 9px; color: #fff;margin: 2px;  background-color: #31363c}

/*产品展示*/
#pic-page {text-align: center; margin-top:10px;}
#pic-page a {margin: 0 2px;}
#pic-page a img {width:40px;padding: 2px;border: solid #ccc 1px; margin-bottom:5px;}
#pic-page a:hover img,#pic-page a.active img {border: solid #5280DD 1px;}
.showpic_box,.proinfo_box{margin: 30px 0px 20px 0px;}
.showpic_box div.bx-wrapper img{margin: 0 auto; max-height: 340px;}
.product_h1{ margin:0px; line-height:24px; font-size:16px; color: #077D31; padding-bottom:5px;border-bottom: 1px dotted #cccccc;}
.product_info{list-style:none; padding:0px; margin-top:10px;line-height: 2;}
.product_info li{ line-height:24px; padding-bottom:12px;}
.product_con{ clear: both; border-top: 1px dotted #ccc; margin:10px 0px 20px 0px;padding:20px 0px 0px 0px; line-height:26px;overflow: auto;}

.related_h1{padding: 30px 0px 12px 0px; color: #303c4b; margin:0px; display: block;  font-weight:300; font-size:24px; border-bottom:5px solid #f4f5f6;font-family:'Roboto',Arial,Helvetica, sans-serif;}
.related_list{padding-top: 25px;}
.related_news{ padding-top: 10px; clear: both; margin-bottom: 15px;}

.download_btn{text-align: right; margin: 10px 10px 20px 0px;}
.page-btn{background-color: #ee4547; border-radius: 0px; border: none;}
.page-btn:hover,.page-btn:focus{background-color:#e0282b; }
.grey-btn{border-radius: 0px;border: none; background-color: #E8E8E8;}
.grey-btn:hover,.grey-btn:focus{background-color: #ccc;}

.a2a_default_style{display: inline-block;}

/*在线留言订购*/
.feedback{margin-top: 50px;}
.form-horizontal .form-group { margin-right: -10px;margin-left: -10px;}
.codeimg{ margin: 0px 0px -10px -18px;}


/*上一个下一个*/
.point{ clear: both; margin:20px 0px 40px 0px; padding-bottom: 40px; line-height:22px;}
.point span.to_prev{text-align:center; }
.point span.to_prev a{color:#0068b7;}
.point span.to_prev a:hover{color: #FFC800; text-decoration: none;}
.point span.to_next{text-align:center; }
.point span.to_next a{color:#0068b7;}
.point span.to_next a:hover{color: #FFC800; text-decoration: none;}

/*标签样式*/
.tags{ margin: 15px 0px 10px 0px}
.tags a{ margin: 0px 5px 8px 0px}
.tags_list{padding: 5px 10px 100px 10px}
.tags_ul{ margin-top: 10px;}
.tags_ul li{line-height: 28px; margin-bottom: 8px; padding-bottom: 10px;}
.tags_ul h3{font-size: 14px; padding: 0px; margin: 0px;line-height: 20px;}
.tags_ul p{font-size: 13px;padding: 0px; margin: 0px; color: #a0a0a0; line-height: 20px; padding-top: 8px;}

/*网站地图*/
ul.ul_sitemap{margin: 30px 0px 40px 30px;}
ul.ul_sitemap li{list-style: none; line-height: 26px;clear: both;}
ul.ul_sitemap li a{color: #7d7d7d;}
li.small_li_sitemap{clear: both;padding-left: 12px;}
li.small_li2_sitemap{float: left; padding-left: 20px;}


/*首页Tags*/
.tags_box{background-color: #24A551; padding: 9px 0px 9px 0px; text-align: center;color: #fff;font-size: 13px;border-top: 1px solid #FFC800;}
.tags_box a{color: #fff; border-right: 1px solid #fff; padding:0px 8px 0px 8px;font-size: 13px;}
.tags_box a:hover{text-decoration: none; color: #FFEB3B;}
.tags_box a:last-child{border-right:0px;}
.tags_box button{display: none;}
.tags_title{font-size: 13px; margin-right: -6px;}
.tags_title a{padding:0px 10px 0px 0px;}
.tags_title:after{content:"：";}

/*友情链接*/
.link_box{background-color: #24A551; padding: 10px 0px; text-align: center;color: #fff;font-size: 13px;}
.link_box a{color: #fff; border-right: 1px solid #fff; padding:0px 10px 0px 10px; font-size: 13px;}
.link_box a:hover{text-decoration: none; color: #FFEB3B;}
.link_box a:last-child{border-right:0px;}
.link_box button{display: none;}
.link_title{font-size: 13px; margin-right: -6px;}
.link_title:after{content:"：";}

/* //图片 */
.footer .decor-brand{margin: 10px 0 26px;}
.decor-brand{background: url(../images/decor-brand-red.png);}
.decor-brand{display: block; width: 46px; height: 15px; margin: 28px auto; background: url(../images/decor-brand-red.png); background-repeat: no-repeat;}
/* 图标 */
.icons{margin-top:3px;width:25px;height:25px;line-height:25px;margin-right:6px;text-align:center;border-radius:50%;background-color:transparent;color:#fff;display:inline-block;vertical-align:top; border:none;}
.icons:hover{ background:none;}
/* 关于我们按钮 */
.footer-m{display: inline-block; padding: 5px 10px; background-color: #f00; border-radius: 3px; font-size: 12px; color:#ececec;}
.footer-m:hover{color:#ececec; background-color:#f00;}
/* .cv p{color:#000;} */
/* 直线的css */
.footer-bar{padding: 10px 0; margin-top:20px; text-align: center;border-top: #d8d8d8 solid 1px;}
.cv{color:#000;}
/*
对其联系信息的css */
.list-unstyled{padding-left: 0; list-style: none;}
ul, li{list-style: none; margin: 0; padding: 0;}
.list-unstyled ul{display: block; list-style-type: disc; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 40px;}
/* 底部第一部分的link 友情链接的css */
/* 底部文本框的css样式 */
.butt{padding-top:20px;}
.butt button{width:150px;height:35px;background-color:#048BFF; font-size:14px;border:none;color:white;}
/* 关于我们的css */
.countt p i{color:#048BFF;font-size:14px;text-align:center-left;width:20px; height:20px;}
.vv p i{color:#048BFF;font-size:14px;text-align:center-left;width:20px; height:20px;}
.vv a{color:white;}

/*底部信息*/
footer{background-color: #444; padding:40px 0 20px 0;}
.copyright{ line-height:20px;}
.copyright a{ color:#fff;}
.foot_nav{ width:25%; float:left;background-color: #fafafa;text-align:center;color:#898989;} 
.foot_nav:hover,.foot_nav:focus{background-color: #e4e4e4;cursor:pointer;}
.foot_nav a{color:#898989;display:block;}
.foot_nav a:hover,.foot_nav a:focus{text-decoration:none;}
.foot_nav span{display:block; padding:3px 0px 0px 0px;}
.webshare{width: 230px; padding: 5px;}
.ewebshare{width: 200px; padding: 5px;}
.mm h2{font-size:16px;color:white;padding-bottom: 10px;}
.mm p{color:white;font-size:14px;margin-top:5PX;font-weight:100;}
.mm i{color:white;}
.mm h4{color:white;font-size:14px;}
.mm label{color:white;font-size:14px;}
.but1{padding-top:20px;}
.but1 button{width:150px;height:35px;background-color:#f00;font-size:14px;border:none;color:white;}
.i i{color:white;font-size:14px;text-align:center-left;width:20px;height:20px;}
.left{color:white;font-size:14px;}
.left i{color:#f00;}




/*大屏幕*/
@media screen and (min-width: 769px) {  
	  
	  .logo{margin:10px 0px 0px 0px; max-width:330px; max-height: 78px;}
      .flash{margin-top: 78px;}
      .navbar{min-height: 80px; margin-top: 40px;}
      .navbar-nav{float:right;}
      .navbar-nav > li > a {text-align: center;}
      .navbar-default .navbar-nav > li > a{padding-top: 30px; padding-bottom:30px;color: #312b2b; font-size:16px;}
      .navbar-default .navbar-nav > li > a:hover,
      .navbar-default .navbar-nav > li > a:focus,
      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus {
         background-color: #f00; color: #fff; }

      .small-nav{min-height: 50px; margin-top: 0px;background: rgba(255,255,255,0.95);box-shadow: 0 3px 5px rgba(0,0,0,0.2);}
      .small-nav .navbar-nav > li > a{padding-top: 20px; padding-bottom:20px;}
      .small-nav img.logo{max-height: 50px; max-width:220px; margin:5px 0px 0px 0px;}

      .nav_small{background: rgba(255,255,255,0.95);padding: 8px 0px 8px 0px; border-radius: 0px; border: none; }
      .nav_small > li{}
      .nav_small > li > a{line-height:26px; color: #312b2b; font-size: 13px;}
      .nav_small > li > a:hover{color: #fff; background-color: #f00;}
       #app_menudown,#small_search{ display:none; }
      .index_left_nav,.footer_nav{display:none; }
      .contents embed{width: 640px; height: 500px;}
	  
      .index_about {width: 600px;}
}

/*小屏幕*/
@media screen and (max-width: 768px) {
.logo{margin:5px 0px 3px 5px; max-width:180px; max-height: 42px;}
.top_menu{ display:none;}
      .flash{margin-top: 50px;}
      .navbar{min-height: 50px; /*margin-top:40px;*/}
      .navbar-default .navbar-brand {color: #fff; font-size: 16px;}
      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus {color: #fff;}
      .navbar-toggle{}
      .navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}
      .navbar-default .navbar-toggle:hover,
      .navbar-default .navbar-toggle:focus {
      }
      .navbar-default .navbar-toggle .icon-bar{}
      .navbar-default .navbar-nav{margin-top: 0px;margin-bottom: 0px;}
      .navbar-default .navbar-nav > li {}
      .navbar-default .navbar-nav > li:last-child{border: none;}
      .navbar-default .navbar-nav > li > a,
      .navbar-default .navbar-nav .open .dropdown-menu > li > a{}
      .navbar-default .navbar-nav > li > a:hover,
       .navbar-default .navbar-nav > li > a:focus,
       .navbar-default .navbar-nav > .active > a, 
       .navbar-default .navbar-nav > .active > a:hover, 
       .navbar-default .navbar-nav > .active > a:focus,
       .navbar-default .navbar-nav > .open > a, 
       .navbar-default .navbar-nav > .open > a:hover, 
       .navbar-default .navbar-nav > .open > a:focus,
       .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{background-color: #f00; color: #fff;}

       .small-nav{margin-top: 0px;background: rgba(255,255,255,0.95);}
	   
	   

      .top_name{display: none;}
      .search_group{margin: 5px 0px 20px 0px;}
      #topsearch{display: none;}
      .product_head{background:none;}
      .product_head h2{font-size:26px; margin-top: 20px;}
      .product_index{margin-top: 10px;}
      .product_list{padding: 20px 0px 0px 0px;}
      .product_img{min-height:80px; margin-bottom: 12px;}
      .product_list2 div.product_img{min-height:80px; margin-bottom: 12px;}
      .advantage_list{margin-top: 10px;}
      .advantage_head h2{font-size: 26px;}
      .about_head h2{font-size:26px;}
      .about_content img{max-width: 500px;width: 100%;margin-bottom: 15px;}
      .about_content a.btn-info{width: 220px; display:block; margin: 0 auto;padding: 8px 0px;}
      .case_box{padding:35px 0px 10px 0px; margin-top: 10px;}
      .case_head h2,.news_head h2{font-size:26px;}
      .news_img{display: none;}
      .news_index{padding-left: 0px;margin-bottom: 10px;}
      .news_index li span{left: 0px; top:0px; margin-right:12px;}
      .news_index li a{margin-left: 0px;font-size: 16px;}
      .news_index li em{display:block;margin-left: 0px;}
      .page_bg{height: 0px;margin-top: 50px; overflow:hidden;}
      
      .left_h{margin-top: 10px;}
      .list_related h2.left_h{margin-top: 60px;}
      .product_con img,.contents img{width:100%;}
      .news_time{ display:none;}
      #pic-page a img {width:35px;}
      #cmsFloatPanel{ display: none;}
      .point span.to_prev,.point span.to_next{text-align:left; padding-bottom: 8px;}
      .product_list2{padding-top: 25px;}
      .feedback{margin-top: 20px;}
      .link_box{padding-left: 7px;}
      .link_box a{display: block;border-right:0px;padding:4px 0px;}
      .link_title{display: block;}
      .link_title:after{content:"";}
      .link_box button{display: inline-block; background-color: transparent; border: none; float: right; margin-top: -20px;}
      .link_box button:hover,.link_box button:focus{color: #FFEB3B;}
      .link_list{display: none; padding-top: 7px;}
      .tags_box{padding-left: 7px;}
      .tags_box a{display: block;border-right:0px;padding:4px 0px;}
      .tags_title{display: block;}
      .tags_title:after{content:"";}
      .tags_box button{display: inline-block; background-color: transparent; border: none; float: right; margin-top: -20px;}
      .tags_box button:hover,.tags_box button:focus{color: #FFEB3B;}
      .tags_rows{display: none; padding-top: 7px;}
      .footer_nav{background-color: #fafafa;}
      footer{ margin-bottom:50px; padding-left: 8px; padding-right: 8px;}
	  
	  .scroll{ width:0px; height:0px; overflow:hidden;}
	  
.lea{margin-bottom:12px; max-width:100%;} 
.ms{width:100%;} 
#submit_search{width:50%;} 
.aa{text-align:center; margin-top:40px; padding:0 0 0 90px;} 
.cv{width:100%;font-size:12px; text-align:center; margin-top:-60px; margin-bottom:50px;} 
#nam1{display: none;}
}

@media screen and (max-width: 767px) {
     .copyright_p{ display:none;}
	 
}

/*320px到768px*/
@media screen and (min-width:320px) and (max-width:768px) {
  .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
    float: left;
  }
  .col-mm-12 {
    width: 100%;
  }
  .col-mm-11 {
    width: 91.66666667%;
  }
  .col-mm-10 {
    width: 83.33333333%;
  }
  .col-mm-9 {
    width: 75%;
  }
  .col-mm-8 {
    width: 66.66666667%;
  }
  .col-mm-7 {
    width: 58.33333333%;
  }
  .col-mm-6 {
    width: 50%;
  }
  .col-mm-5 {
    width: 41.66666667%;
  }
  .col-mm-4 {
    width: 33.33333333%;
  }
  .col-mm-3 {
    width: 25%;
  }
  .col-mm-2 {
    width: 16.66666667%;
  }
  .col-mm-1 {
    width: 8.33333333%;
  }
}

@media screen and (max-width: 340px) {
  .logo{max-width:230px;}
}




